body {
    margin: 0;
    padding: 0;
}

.first-view {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
    font-size: 30px;
}

.main-view {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}