body {
    margin: 0;
    padding: 0;
}

.main-view {
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

.text-editor {
    width: 80vw;
    height: 60vh;
    overflow-y: scroll;
}

.tag {
    display: inline;
    margin-right: 4px;
    border: 1px solid #444444;
    border-radius: 15px;
    padding: 2px;
}